


<ul>
    <% favPark.forEach((singlePark)=>{ %>
        <li>
            <h3><%= singlePark.name %></h3>
            <a href="/details/<%=singlePark.parkName%>">Details</a>
        </li>
    <% }) %> 
</ul>


