
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to your profile!</h1>
      <p class="lead">
        <p>Id: <%= id %></p>
      <p>Name: <%= name %></p>
      <p>Email: <%= email %></p>
    </p>
    </div>
  </div>