nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color:navy;
}


body {
  min-height: 99vh;
}

.list-group-item {
  border: 2px solid 
  navy;
  margin-bottom: 20px;
}