


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">My Favorite Parks</h1>
      <p class="lead"><ul>
        <% favPark.forEach((singlePark)=>{ %>
            <li>
                <h3><%= singlePark.name %></h3>
              
                <a class="btn btn-outline-primary" href="/details/<%=singlePark.name%>" role="button" >Details</a>
                <a class="btn btn-outline-success" href="/reviews/new" role="button" >Comment</a>
             <form  method="POST" action="/favs/<%= singlePark.id %>?_method=DELETE">
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>

            </li>
        <% }) %> 
    </ul></p>
    </div>
  </div>
