
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Leave a comment</h1>
      <p class="lead">
          <form action="/reviews" method="POST">
        <label for="name">Park Name</label>
        <input required type="text" id="name" name="name" />
      
        <label for="description">Description</label>
        <input required type="text" id="description" name="description" />
      
        <button type="submit"> Log Comment </button>
      </form></p>
    </div>
  </div>