<form action="/reviews" method="POST">
    <label for="title">Title</label>
    <input required type="text" id="title" name="title">

    <label for="description">Description</label>
    <input required type="text" id="description" name="description">

    <button type="submit">Submit Review</button>

</form>